<div>
  <!-- <app-attribute></app-attribute> -->
  <!-- <app-userinput></app-userinput> -->
  <!-- <app-array-print></app-array-print> -->
  <!-- <app-style></app-style> -->
  <!-- <app-pipe-demo></app-pipe-demo> -->
  <!-- <app-forms></app-forms> -->
  <!-- <app-template-form-validation></app-template-form-validation> -->
  <!-- <app-reactive-form></app-reactive-form> -->
  <!-- <app-custom-reactive-form></app-custom-reactive-form> -->
  <!-- <app-prob-assignment></app-prob-assignment> -->
   <!-- <app-diexample></app-diexample> -->
    <app-service-example></app-service-example>

</div>
